BPMN/Exercice3_BPMN/wsdl/Availability.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="AvailabilityService"
             targetNamespace="http://example.com/availability"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://example.com/availability"
             xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!-- Types -->
    <types>
        <xsd:schema targetNamespace="http://example.com/availability">
            <xsd:element name="CheckRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="productId" type="xsd:string"/>
                        <xsd:element name="quantity" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CheckResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="available" type="xsd:boolean"/>
                        <xsd:element name="stock" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <!-- Messages -->
    <message name="CheckRequest">
        <part name="parameters" element="tns:CheckRequest"/>
    </message>
    <message name="CheckResponse">
        <part name="parameters" element="tns:CheckResponse"/>
    </message>

    <!-- Port Types -->
    <portType name="AvailabilityPortType">
        <operation name="checkAvailability">
            <input message="tns:CheckRequest"/>
            <output message="tns:CheckResponse"/>
        </operation>
    </portType>

    <!-- Partner Link Types -->
    <plnk:partnerLinkType name="AvailabilityPartnerLinkType">
        <plnk:role name="AvailabilityProvider" portType="tns:AvailabilityPortType"/>
    </plnk:partnerLinkType>
</definitions>
