BPMN/Exercice3_BPMN/wsdl/OrderProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="OrderProcess"
             targetNamespace="http://example.com/order"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://example.com/order"
             xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!-- Types -->
    <types>
        <xsd:schema targetNamespace="http://example.com/order">
            <xsd:element name="OrderRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="productId" type="xsd:string"/>
                        <xsd:element name="quantity" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="OrderResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="success" type="xsd:boolean"/>
                        <xsd:element name="orderId" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="message" type="xsd:string" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <!-- Messages -->
    <message name="OrderRequest">
        <part name="parameters" element="tns:OrderRequest"/>
    </message>
    <message name="OrderResponse">
        <part name="parameters" element="tns:OrderResponse"/>
    </message>

    <!-- Port Types -->
    <portType name="OrderProcessPortType">
        <operation name="process">
            <input message="tns:OrderRequest"/>
            <output message="tns:OrderResponse"/>
        </operation>
    </portType>

    <!-- Partner Link Types -->
    <plnk:partnerLinkType name="OrderProcessPartnerLinkType">
        <plnk:role name="OrderProcessProvider" portType="tns:OrderProcessPortType"/>
    </plnk:partnerLinkType>

    <!-- Bindings -->
    <binding name="OrderProcessBinding" type="tns:OrderProcessPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="process">
            <soap:operation soapAction="http://example.com/order/process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Services -->
    <service name="OrderProcessService">
        <port name="OrderProcessPort" binding="tns:OrderProcessBinding">
            <soap:address location="http://localhost:8080/ode/processes/OrderProcess"/>
        </port>
    </service>
</definitions>